*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box ;
}

:root {
    /* primary colors */
    --bright-red: hsl(12, 88%, 59%) ;
    --Dark-Blue: hsl(228, 39%, 23%) ;

    /* neutral colors */
   --Dark-Grayish-Blue: hsl(227, 12%, 61%) ;
    --Very-Dark-Blue: hsl(233, 12%, 13%) ;
    --Very-Pale-Red: hsl(13, 100%, 96%) ;
    --Very-Light-Gray: hsl(0, 0%, 98%) ;

    /* font sizes */
    ---font-size:16px;

    /* font weight */

    --weight1: 400;
    --weight2: 500;
    --weight: 700;
}

nav{
/* border: 3px solid black; */
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin: 40px 70px 100px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

#get-started{
background-color: var(--bright-red);
padding: 5px 15px;
border-radius: 20px;
border: none;
color: var(--Very-Pale-Red);
}

#get-started:hover {
    cursor:pointer;
    background-color:orange;
    transition: ease-in-out 0.5s;
    scale: 1.1;
}

#section-1{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 40px 70px 100px;
    
}
.section-1-div-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.section-1-div-text h1{
    font-size: 50px;
    color: var(--Dark-Blue);
    font-weight: var(--weight);
    width: 100%;
    
}
.section-1-div-text p {
    font-size: var(---font-size);
    color: var(--Dark-Grayish-Blue);
    width: 100%;
}
.section-1-div-img{
    width: 100%;
}
.section-1-div-img img {
    width: 80%;
}

#section-2{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
   align-items: start;
    margin: 40px 70px 100px;
    padding: 15px;
}
.section-2-div-1, 
.section-2-div-2{
width: 100%;
}
.section-2-div-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.section-2-div-1 h1{
    color: var(--Dark-Blue);
    font-size: 40px;
    font-weight: var(--weight);
}
.section-2-div-1 p{
    font-size: 16px;
    color: var(--Dark-Grayish-Blue);
    
}
.section-2-div-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.no-1, .no-2, .no-3{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.no-1 div, .no-2 div, .no-3 div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.color{
    background-color: var(--bright-red);
    border-radius: 15px;
    padding: 4px 20px;
    color: var(--Very-Light-Gray);
    font-size: var(---font-size);
}

.no-1 div h3,
.no-2 div h3,
.no-3 div h3{
color: var(--Dark-Blue);
font-size: 18px;
}

.no-1 div p,
.no-2 div p,
.no-3 div p{
color: var(--Dark-Grayish-Blue);
font-size: 18px;
}

#section-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    
    }

    #section-3 h1{
       color: var(--Dark-Blue);
        font-size: 40px;
    }

.section-3-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.card-helpers{
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
}

.card-one-img,
.card-two-img,
.card-three-img{
    width: 30%;
}

.section-3-h3-helper{
    color: var(--Very-Dark-Blue);
    font-size: 20px;
}

#get-started-inverse{
background-color: #fff;
padding: 5px 15px;
border-radius: 40px;
border:none;
color: var(--bright-red);
}

#section-4{
    background-color: var(--bright-red);
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url(resources/images/bg-simplify-section-desktop.svg);
    margin: 50px 0 0 0;
    padding: 50px 130px 50px 130px;
}
#section-4 h1{
    color: #fff;
}

footer{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.foot-1{
    display: flex;
    flex-direction: column;
     gap: 80px;
}

.foot-1 .logo-img{
    filter: invert(100%);
}

.foot-1 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.foot-2{
    display: flex;
    flex-direction:row ;
    align-items: start;
    gap: 100px; 
}

.ul-helper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.ul-helper li{
    list-style: none;
}

.ul-helper a{
    color: var(--Very-Pale-Red);
    text-decoration: none;
}

.foot-3{
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 30%;
}

.foot-3 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.foot-3 p{
    color: var(--Very-Pale-Red);
    font-size: 10px;
    text-align: end;
}

.foot-3 input{
    border-radius: 20px;
    padding: 10px;
    width: 80%;
}

#go {
    background-color: var(--bright-red);
    border-radius: 20px;
    padding: 10px 25px;
    color: var(--Very-Pale-Red);
    border: none;
}

#go:hover{
    cursor: pointer;
    transition: ease-in-out 0.5s;
    scale: 1.1;
}

/* this belongs to active-states */

.list li a:hover{
    color: var(--Dark-Grayish-Blue);
    transition: 0.5s;
    
}



#get-started-inverse:hover {
     cursor: pointer;
    /* background-color: orange; */
    transition: ease-in-out 0.5s;
    scale: 1.1;
   
}